---
{
  "title": "Second Lecture on Testing Now Online", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "395"
}
---
<p>The second lecture on testing is now online.  As always, comments and corrections are appreciated.</p>
