---
{
  "title": "Third Software Carpentry Python Lecture on the Web", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "361"
}
---
<p>The third lecture on Python for the <a href="http://www.software-carpentry.org">Software Carpentry</a> course has been posted; comments and criticisms are invited and appreciated.</p>
