---
{
  "title": "Revised Lecture on Teamware", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "478"
}
---
<p>I've revised the Software Carpentry lecture on using team tools.  I'd be grateful for feedback.</p>
