---
{
  "title": "Client-Side Web Programming Lecture", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "407"
}
---
<p>The Software Carpentry lecture on client-side web programming is now up (<em>sans</em> diagrams).  Comments and corrections welcome.</p>
