---
{
  "title": "Last Two Lectures Are Up", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "406"
}
---
<p>The last two lectures in the Software Carpentry course are up:</p>
<ul>
<li>Teamware</li>
<li>Summary</li>
</ul>
<p>(where "last" means "last in delivery order", not "last to be revised").  They're both fairly rough right now, so high-level feedback would be more useful than pointers to typos.</p>
