---
{
  "title": "Design Patterns in Scientific Software", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "582"
}
---
<p><a href="http://www.cse.nd.edu/Reports/2004/TR-2004-29.pdf">This paper</a>, via the <a href="http://www.openscience.org">OpenScience Projec</a>t, is a couple of years old, but a good step in an interesting direction.</p>
