---
{
  "title": "Software Carpentry Design Lecture", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "376"
}
---
<p>I've just posted a completely new lecture on object-oriented design ideas.  I'd be very grateful for high-level comments: is it useful material?  Do you think that relatively inexperienced programmers will get it?  Etc.</p>
