---
{
  "title": "Lecture on Binary Data", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "382"
}
---
<p>The Software Carpentry lecture on binary data is now up on the web.  The content of this one has been fairly stable for a while, but that just means that all the bugs will be in the details&mdash;comments and corrections are greatly appreciated.</p>
