---
{
  "title": "Second Lecture on Object-Oriented Programming", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "391"
}
---
<p>The second lecture on object-oriented programming is now on the web.  This describes operator overloading and static methods, and includes the design patterns material that was in the old design lecture (which has been removed&mdash;the general consensus was that it didn't work).  As always, comments are welcome.</p>
