---
{
  "title": "Quality Assurance Lecture Now Available", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "363"
}
---
<p>It used to be the introductory lecture on testing; now it's more of an introduction to quality assurance from a programmer's point of view.  It's changed even more than the style lecture; comments and corrections would be very welcome.  (And yes, I know, the diagrams are missing...)</p>
