---
{
  "title": "Second Python Lecture Now on the Web", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "356"
}
---
<p>The second revised lecture on Python for Software Carpentry is now on the web.  As always, comments and corrections are welcome.</p>
