---
{
  "title": "Intro Python Lecture Available", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "351"
}
---
<p>The first <a href="http://www.software-carpentry.org">Software Carpentry</a> lecture on Python has been revised, and is up on the web.  Comments and criticisms are very welcome.</p>
