---
{
  "title": "First Shell Lecture for Software Carpentry is Up", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "346"
}
---
<p>The first lecture on using the shell is up on the new and improved Software Carpentry web site.  Comments and feedback would be greatly appreciated.</p>
