---
{
  "title": "Another Sighting of Software Carpentry", 
  "journal": "True", 
  "author": "Greg Wilson", 
  "tags": "venues/uc-san-diego", 
  "post_id": "1028"
}
---
<p>Rick Wagner, a computational astrophysicist at <a href="http://www.ucsd.edu">UCSD</a>, is <a href="http://lca.ucsd.edu/projects/scicomp">teaching a course</a> based on <a href="http://swc.scipy.org">Software Carpentry</a>. Yay!</p>
