---
{
  "title": "Why Opening Up (Probably) Wouldn't Help", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "2630"
}
---
<p>Good post from Steve Easterbrook on why <a href="http://www.easterbrook.ca/steve/?p=1078">open-sourcing climate models probably wouldn't make a difference</a>.</p>
