---
{
  "title": "Guest Speakers' Slides Now Available", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-3", 
  "post_id": "2488"
}
---
<p>Our guest speakers' slides are now on the web; video will follow soon.</p>
