---
{
  "title": "Python in Science", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "2604"
}
---
<p>Guido van Rossum just posted <a href="http://neopythonic.blogspot.com/2009/11/python-in-scientific-world.html">a description of a variety of scientific Python projects</a>. The diversity is pretty impressive...</p>
