---
{
  "title": "Carl Zimmer's Readers' Reading List", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "2028"
}
---
<p>Carl Zimmer (prolific and talented writer on biology and evolution) has posted a crowd-sourced reading list of <a href="http://blogs.discovermagazine.com/loom/2009/02/01/the-crowd-sourced-reading-list/">great science writing</a>. Lots of good stuff...</p>
