---
{
  "title": "Ready for Proofreading", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-3", 
  "post_id": "2412"
}
---
<p>We're ready for feedback &mdash; if you check out the <a href="http://software-carpentry.org/4_0/">new slides</a>, you'll see a little feedback bubble at the bottom of each topic.  Clicking that will give you a chance to send us email to tell us about formatting glitches, factual errors, or anything else you'd like fixed.  Please let us know what you think...</p>
