---
{
  "title": "Where This Course Came From", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "2465"
}
---
<p>I have created an Amazon.com Listmania list [no longer online] for the books that most directly influenced this course.  Some topics aren't directly represented&mdash;there's nothing devoted to handling XML or binary data, for example, or on big-Oh complexity or web programming&mdash;but I hope what's there will be of use.</p>
