---
{
  "title": "The Ice Cream Test", 
  "author": "Greg Wilson", 
  "tags": "community", 
  "post_id": "2494"
}
---
<p>Extensive experimentation has uncovered a foolproof way to tell Aussies from Brits: simply observe their reaction to ice cream.</p>
<table border="0" cellpadding="3">
<tbody>
<tr>
<td><img src="|filename|/files/2009/08/nielsen.jpg" alt="Michael Nielsen" /></td>
<td><img src="|filename|/files/2009/08/neylon.jpg" alt="Cameron Neylon" /></td>
</tr>
<tr>
<td align="center">Aussie</td>
<td align="center">Brit</td>
</tr>
</tbody>
</table>
