---
{
  "title": "By Popular Request...", 
  "author": "Greg Wilson", 
  "tags": "content, lectures, versions/version-4", 
  "post_id": "2599"
}
---
<p>...I have added a lecture on high performance computing to the <a href="/4_0/">revised outline for the course</a>. Several people suggested it, and what's the point of asking for feedback if I don't listen?</p>
