---
{
  "title": "Aaaand They're Off!", 
  "author": "Greg Wilson", 
  "tags": "venues/university-of-alberta, venues/university-of-toronto, versions/version-3", 
  "post_id": "2431"
}
---
<p>We had our first lecture this morning, and the students are working on their first exercises right now in pairs. You can follow progress at <a href="http://friendfeed.com/softwarecarpentryjuly2009">http://friendfeed.com/softwarecarpentryjuly2009</a>.</p>
