---
{
  "title": "Python Textbooks for Biotech", 
  "author": "Greg Wilson", 
  "tags": "community, content, noticed", 
  "post_id": "2025"
}
---
<p>Jan Erik Mostr&ouml;m recently posted a request for textbook recommendations for teaching programming (using Python) to biotechnology students.  He has now posted the responses [no longer online] he received &mdash; might be interesting to some readers of this blog.</p>
