---
{
  "title": "Executable Papers", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "3858"
}
---
<p>Elsevier is sponsoring an "<a href="http://www.executablepapers.com/index.html">Executable Paper Grand Challenge</a>".  If you have more than just ideas about the future of scholarly publication in computational science, it may be a good way to get them some press.</p>
