---
{
  "title": "Stats for July", 
  "author": "Greg Wilson", 
  "tags": "community", 
  "post_id": "3514"
}
---
<p><strong>Visitors</strong></p>
<p><img src="|filename|/files/2010/07/visitors.png" /></p>
<p><strong>Page Views</strong></p>
<p><img src="|filename|/files/2010/07/pageviews.png" /></p>
