---
{
  "title": "The Big Picture (version 2)", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "3339"
}
---
<p>Thanks to everyone who gave us feedback on <a href="|filename|2010-06-04-concept-map.jinja">the first version of a concept map</a> for Software Carpentry. The second version is shown below, along with a list of terms that <em>ought</em> to be on it, but aren't. Where would you place them, and how would they connect to each other and to the concepts that are already linked?</p>
<p><img src="|filename|/files/2010/06/concept-map-2-150x150.png" /></p>
