---
{
  "title": "Strictly Speaking, This Isn't Part of Testing", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-4", 
  "post_id": "3498"
}
---
<p>The second episode of the lecture on testing is now up.  It covers <a href="|filename|/4_0/test/except.html">exceptions</a>, which strictly speaking aren't part of testing, but it seemed like a natural place to introduce them. As always, feedback is welcome...</p>
