---
{
  "title": "Hours So Far", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3784"
}
---
<p>The chart below shows cumulative hours on Software Carpentry since we started working on Version 4 in May. We're not as far along as I'd like, but progress has been pretty steady...</p>
<p><img src="|filename|/files/2010/11/hours.png" alt="Software Carpentry hours May-November 2011" /></p>
