---
{
  "title": "Approaching Objects from a New Direction", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3826"
}
---
<p>We have just posted early drafts of slides for the <a href="/4_0/oop/intro.html">first</a> <a href="/4_0/oop/basics.html">two</a> episodes of our lecture on object-oriented programming. These take a "nuts and bolts" approach, showing more about how objects work than is usual in an introductory course in the hopes of dispelling some of the mystery and confusion that often surrounds them. Feedback would be very welcome...</p>
