---
{
  "title": "Provenance (Or, What We Didn't Quite Get to at the Met Office)", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "3721"
}
---
<p>This post <a href="/4_0/essays/provenance.html">has been moved</a>.</p>
