---
{
  "title": "Six More Python Episodes", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3687"
}
---
<p>We've added six more Python screencasts to the site:</p>
<ul>
<li><a href="/4_0/python/basics.html">basics</a></li>
<li><a href="/4_0/python/flow.html">control flow</a></li>
<li><a href="/4_0/python/io.html">I/O</a></li>
<li><a href="/4_0/python/alias.html">aliasing</a></li>
<li><a href="/4_0/python/func.html">functions</a></li>
<li><a href="/4_0/python/funcobj.html">first-class functions</a></li>
</ul>
<p>We hope you like them&mdash;please let us know.</p>
