---
{
  "title": "New Section for Essays", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3759"
}
---
<p>By popular request, we have moved the longer essay-style posts to <a href="/4_0/essays/">a new section</a> of this web site. We have also added <a href="/4_0/essays/persist.html">a new essay</a> on saving and loading data that also talks about metadata, registries, and the open/closed principle.</p>
