---
{
  "title": "Our First Few Exercises", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "3409"
}
---
<p>Jon Pipitone has posted a few self-assessment exercises for the lecture episode on <a href="/4_0/databases/select.html">selecting data from a database</a>. Please have a look and let us know what you think: would having little self-tests like this at the end of each episode help solidify your understanding of the material?</p>
