---
{
  "title": "Software Carpentry at UCSF", 
  "author": "Greg Wilson", 
  "tags": "venues/uc-san-francisco", 
  "post_id": "3604"
}
---
<p>Via <a href="|filename|2010-03-25-software-carpentry-version-4-is-a-go.jinja">a comment from Scooter Morris</a>: the University of California San Francisco is offering a "short course" variant of Software Carpentry under the course codes <a href="http://www.cgl.ucsf.edu/Outreach/bmi280/">BMI-280/BMI-219</a>. Their slides are online in S5 format, and include lots of useful stuff that aren't in the stock version.  If you know of other offerings, please send pointers!</p>
