---
{
  "title": "Three More Sets of Slides", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "3560"
}
---
<p>As promised in <a href="|filename|2010-08-31-five-episodes-on-the-shell-and-three-to-come.jinja">yesterday's post</a>, the slides for three more episodes on the Unix shell are now online, covering <a href="|filename|/4_0/shell/find.html">how to find things</a>, <a href="|filename|/4_0/shell/job.html">job control</a>, and <a href="|filename|/4_0/shell/var.html">shell variables</a>. Next up: public/private keys and SSH.</p>
