---
{
  "title": "Aaaand We're Off!", 
  "author": "Greg Wilson", 
  "tags": "venues/online", 
  "post_id": "3630"
}
---
<p>Our first <a href="|filename|2010-09-14-software-carpentry-offered-online-in-fall-2010-for-ontario-students.md">all-online offering</a> of the course starts today: over 40 graduate students and researchers are taking part. We're going to use email, Skype, DimDim, and whatever else comes in handy to supplement the recorded lectures with tutoring and tech support&mdash;I'm looking forward to finding out how well all this Internewt stuff actually works :-)</p>
