---
{
  "title": "First Four Episodes on Multimedia", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3805"
}
---
<p>Our first four episodes on <a href="/4_0/media/">multimedia programming</a>, which cover basic image processing, are now online&mdash;comments are welcome.</p>
