---
{
  "title": "Second Lecture on Regular Expressions", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-4", 
  "post_id": "3416"
}
---
<p>The <a href="/4_0/regexp/operators.html">second lecture on regular expressions</a> has been posted to the development area.  This one covers operators like '*' and '+', and introduces character sets.  Please let us know what you think.</p>
