---
{
  "title": "How We've Helped", 
  "author": "Greg Wilson", 
  "tags": "evaluation", 
  "post_id": "3719"
}
---
<p>We have started to collect <a href="|filename|/about/testimonials.html">testimonials</a> from former students; if you have a story to share, please <a href="mailto:{{contact_email}}">send it in</a>.</p>
