---
{
  "title": "Podcast with Jon Udell", 
  "author": "Greg Wilson", 
  "tags": "community", 
  "post_id": "2649"
}
---
<p>Jon Udell recently interviewed me about Software Carpentry and related topics&mdash;the <a href="http://itc.conversationsnetwork.org/shows/detail4360.html">podcast</a> is now on his <a href="http://blog.jonudell.net/2010/01/12/talking-with-greg-wilson-about-software-carpentry/">web site</a>.</p>
