---
{
  "title": "Final Episode of Regular Expressions Lecture Now Online", 
  "author": "Greg Wilson", 
  "tags": "lectures, versions/version-4", 
  "post_id": "3429"
}
---
<p>The<a href="/4_0/regexp/module.html"> fifth and final episode of our lecture on regular expressions</a> is now online. In this episode, we work through a new problem&mdash;extracting bibliographic citations from papers&mdash;and introduce a few new tools along the way. Please let us know what you think.</p>
