---
{
  "title": "Now Annotated", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3765"
}
---
<p>We have added brief notes on the books in the course's <a href="|filename|/about/biblio.html">bibliography</a>&mdash;we hope you find them useful.</p>
