---
{
  "title": "More Detailed Outline for HPC Lecture", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "3874"
}
---
<p>I've added a more detailed outline for a lecture on high-performance computing to the site; feedback on the content and order would be very welcome, as would pointers to tools that are easy to teach with (as opposed to being powerful in the hands of experienced users).</p>
