---
{
  "title": "Microsoft", 
  "author": "Greg Wilson", 
  "tags": "sponsors/microsoft, versions/version-4", 
  "post_id": "3303"
}
---
<p>We are very pleased to announce that <a href="http://www.microsoft.com">Microsoft Corporation</a> has come on board as a sponsor of this project. Many thank to David Rich for making this happen!</p>
