---
{
  "title": "Audio for Three Software Engineering Episodes", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4015"
}
---
<p>We've added audio (and a few images) for three of the episodes on software engineering (the <a href="/4_0/softeng/intro.html">introduction</a>, <a href="/4_0/softeng/agile.html">agile development</a>, and the <a href="/4_0/softeng/principles.html">principles of computational thinking</a>). It's a slightly different format than most of our previous episodes, and we need to choose a better way of embedding MP3 audio in web pages, but we hope it's useful as is.</p>
