---
{
  "title": "Ask, And Ye Shall Receive", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4052"
}
---
<p>Thanks to Elango Cheran, we now have an episode on the <a href="/4_0/shell/ssh.html">secure shell</a>&mdash;yay!</p>
