---
{
  "title": "Two More Episodes on Spreadsheets", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4014"
}
---
<p>We have added two more short episodes on spreadsheets, covering <a href="/4_0/spreadsheets/pivot.html">pivot tables</a> and <a href="/4_0/spreadsheets/named.html">named cell ranges</a>. Please let us know if you find them useful, and what else we should cover to help researchers who use spreadsheets to work with data.</p>
