---
{
  "title": "Reproducible Computational Geophysics", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4214"
}
---
<p>A summary of a recent workshop on <a href="http://reproducibility.org/wiki/Houston_2011">Open Software Tools for Reproducible Computational Geophysics</a> is now online.  Lots of interesting stuff, and once again, the things we teach in this course are prerequisites for doing/using/understanding much of it.</p>
