---
{
  "title": "Four New Episodes on Databases Using Microsoft Access", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4-1", 
  "post_id": "4287"
}
---
<p>Thanks to the indefatigable <a href="http://whitelab.weecology.org/">Ethan White</a>, we have just added four more episodes on using databases with Microsoft Access:</p>
<ul>
<li><a href="/4_0/access/aggregation.html">aggregating data</a></li>
<li><a href="/4_0/access/join.html">combining data with 'join'</a></li>
<li><a href="/4_0/access/nested.html">nested queries</a>, and</li>
<li><a href="/4_0/access/null.html">handling missing data</a> (i.e., nulls)</li>
</ul>
<p>We hope you enjoy them.</p>
