---
{
  "title": "How Much Do You Need?", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4238"
}
---
<p>Michigan State's <a href="http://ivory.idyll.org/blog/">Titus Brown</a> has posted a <a href="http://ivory.idyll.org/blog/jul-11/how-much-compute-ngs.html">good discussion</a> of what kind of computing hardware you need to do bioinformatics, and why. Long story short, it's about $100K/year (US).</p>
