---
{
  "title": "New Episode: MATLAB Structs and Cell Arrays", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4-1", 
  "post_id": "4195"
}
---
<p>The title says it all: thanks to the tireless Tommy Guy, we have a new episode on <a href="/4_0/matlab/cellarrays.html">MATLAB structs and cell arrays</a>.</p>
