---
{
  "title": "Questions and Answers", 
  "author": "Greg Wilson", 
  "tags": "content, education", 
  "post_id": "4093"
}
---
<p>A first cut of a <a href="|filename|2011-03-15-twenty-questions-minus-two.md">question-and-answer matrix</a> for this course is now up for viewing.  It doesn't include everything, and the answers aren't particularly helpful without a second matrix showing how they connect to specific lecture topics and big principles, but I hope it's a start. Please give feedback as comments on this post; we'll add more Q's and A's in the coming days.</p>
