---
{
  "title": "Building a Bibliography", 
  "author": "Greg Wilson", 
  "tags": "research", 
  "post_id": "4365"
}
---
<p>With help from several of our regular readers, we have assembled a <a href="|filename|/about/biblio.html">bibliography</a> of research related to software engineering and computational science to go with our recommended reading list for students. We hope you find it useful, and we would welcome corrections and additions.</p>
<p><em>2011-11-27: bibliography updated.</em></p>
