---
{
  "title": "Audio Processing in Python", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4191"
}
---
<p>Thanks to Becky Stewart, we now have a 12-minute episode on <a href="/4_0/media/audio.html">audio processing in Python</a>. We hope you find it useful&mdash;as always, feedback is very welcome.</p>
