---
{
  "title": "Holding Up a Mirror", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4137"
}
---
<p>Cameron Neylon always has interesting things to say. In a <a href="http://cameronneylon.net/presentations/best-practice-in-science-and-coding-holding-up-a-mirror/">recent talk</a>, he commented on my tendency to idealize laboratory practice when contrasting it with the sorry state of computational work.  Thought-provoking...</p>
