---
{
  "title": "Updates to Spreadsheet Lecture", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4008"
}
---
<p>We have just posted updates to the first seven episodes of the <a href="/4_0/spreadsheets/index.html">lecture on spreadsheets</a>: the new version uses Excel 2010, and the screencasts are larger to make things easier to see.  Please let us know what you think.</p>
