---
{
  "title": "Our First Episode on Microsoft Access", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-4", 
  "post_id": "4112"
}
---
<p>We have just posted our first episode on <a href="/4_0/access/select.html">using a database with Microsoft Acces</a>s &mdash; many thanks to Utah State's <a href="http://whitelab.weecology.org/">Ethan White</a> for creating it.</p>
