---
{
  "title": "Software Carpentry in a Minute and a Half", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-5-0", 
  "post_id": "4490"
}
---
<p>I've recorded a first draft of the quick introduction <a href="|filename|2012-02-01-re-doing-the-three-minute-pitch.md">I mentioned yesterday</a>. Feedback would be very welcome.</p>

