---
{
  "title": "Advertising Flyer", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-5-0", 
  "post_id": "4546"
}
---
<p>I've put together a <a href="|filename|/files/2012/02/generic-flyer-2012.pdf">one-page flyer</a> to advertise the course (each site would customize the "Local info" space at the bottom).  Please let us know what you think...</p>
