---
{
  "title": "A Poster for the Software Carpentry Workshop at INRIA", 
  "author": "Greg Wilson", 
  "tags": "boot-camp, venues/inria-paris", 
  "post_id": "4875"
}
---
<p><img alt="poster" src="|filename|/files/2012/05/poster.png" /></p>
