---
{
  "title": "A Future Student", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4733"
}
---
<p><img src="|filename|/files/2012/04/IMG_4325.jpg" /></p>
<p>I don't know what we'll be teaching in 20 years, but I hope Tristan Davis will be there to learn.</p>
