---
{
  "title": "Post-Mortem on the NGS Course", 
  "author": "Greg Wilson", 
  "tags": "community, evaluation", 
  "post_id": "5102"
}
---
<p>Titus Brown has posted <a href="http://ivory.idyll.org/blog/ngs-2012-course.html">a post-mortem on his Next Generation Sequencing course</a>, and the independent assessment that was done of it. As with <a href="|filename|2012-07-05-independent-assessment-of-the-past-six-months.jinja">Jorge Aranda's assessment of Software Carpentry</a>, the results were very positive&mdash;what we and other like-minded people are doing really does make a difference.</p>
