---
{
  "title": "I Resemble That Remark", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4659"
}
---
<p>Titus Brown's recent post "<a href="http://ivory.idyll.org/blog/mar-12/big-data-biology">Top 12 Reasons You Know You are a Big Data Biologist</a>" may resonate with some readers of this blog. I particularly like the idea (in the comments) of using links in email to drive garbage collection of data sets.</p>
