---
{
  "title": "Where Next?", 
  "author": "Greg Wilson", 
  "tags": "venues", 
  "post_id": "4752"
}
---
<p>Do you know someone who'd be helped by a Software Carpentry boot camp?  Or can you introduce us to someone who'd help us organize one in a new venue?  If so, please <a href="mailto:{{contact_email}}">introduce us</a>: we'd like to start planning for the fall, and we're always keen to make new friends.</p>
