---
{
  "title": "Interview about Software Carpentry (and Education)", 
  "author": "Greg Wilson", 
  "tags": "community, interviews", 
  "post_id": "5021"
}
---
<p>Chris Gammell and Jeff Shelton interviewed me a couple of weeks ago for their <a href="http://theengineeringcommons.com/episode-10-software-carpentry/">Engineering Commons podcast</a> series. The interview turned out to mostly be about education, online and otherwise&mdash;I hope readers will find it interesting.</p>
