---
{
  "title": "Why We Teach Version Control", 
  "journal": "True", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "5174"
}
---
<p><a href="http://www.phdcomics.com/comics.php?f=1531"><img src="http://www.phdcomics.com/comics/archive/phd101212s.gif" alt="" /></a></p>
