---
{
  "title": "A Mostly Successful Decade", 
  "author": "Greg Wilson", 
  "tags": "community, noticed, tooling", 
  "post_id": "5288"
}
---
{% import 'content_macros.html' as macros %}

<p>A video of Fernando Perez's keynote at PyCon Canada, titled "<a href="http://pyvideo.org/video/1605/science-and-python-retrospective-of-a-mostly-s">Science And Python: retrospective of a (mostly) successful decade</a>", has been posted. If you'd like to see what the IPython Notebook can do, and how it fits into a broader picture, it's well worth watching.</p>

{{macros.youtube("Science And Python: retrospective of a (mostly) successful decade", "F4rFuIb1Ie4", "1:00:58")}}

