---
{
  "title": "Our Long Tail", 
  "journal": "True", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4433"
}
---
<p><img src="|filename|/files/2012/01/longtail-300x180.png" /></p>
<p>Frequency a page is viewed (as a percentage of total views) vs. pages (ordered by frequency); data taken over the last 90 days. I guess there's something to this "long tail" stuff after all.</p>
