---
{
  "title": "Things Are Going Well in Texas on Ada Lovelace's Birthday", 
  "journal": "True", 
  "author": "Greg Wilson", 
  "tags": "boot-camp, community", 
  "post_id": "5363"
}
---
<p><img src="|filename|/files/2012/12/austin.jpg"
        alt="Students at the Austin boot camp" /></p>
