---
{
  "title": "That Was Quick", 
  "author": "Greg Wilson", 
  "tags": "boot-camp, venues/uc-berkeley, versions/version-5-0", 
  "post_id": "5009"
}
---
<p>Registration for our October 2012 workshop at UC Berkeley opened mid-afternoon yesterday. We were sold out and putting people on the waitlist in less than four hours.</p>
