---
{
  "title": "Data Munging with Regular Expressions", 
  "author": "Greg Wilson", 
  "tags": "tutorial, versions/version-5-0", 
  "post_id": "4743"
}
---
<p>Indiana U's Mike Hansen has written a <a href="http://synesthesiam.com/?p=81">blog post</a> explaining how he used regular expressions to rename and fix some MATLAB files. Even if you don't use MATLAB, you should find lots of useful stuff in it. Thanks, Mike.</p>
