---
{
  "title": "Our New Look", 
  "author": "Greg Wilson", 
  "tags": "content, versions/version-5-0", 
  "post_id": "4548"
}
---
<p>We have a new logo:</p>
<p><img src="|filename|/files/2012/02/logo.png" /></p>
<p>which is also available in stacked form for coffee mugs (thanks, Steve):</p>
<p><img src="|filename|/files/2012/02/stacked-logo.png" /></p>
<p>We also have some <a href="http://www.cafepress.ca/swcarpentry">merchandise</a>, and the first batch of laptop stickers is on its way :-)</p>
