---
{
  "title": "How to Run a Bootcamp (new and improved)", 
  "author": "Greg Wilson", 
  "tags": "boot-camp, community, content", 
  "post_id": "5118"
}
---
<p>The folks at the Software Sustainability Institute have written <a href="http://software.ac.uk/how-run-software-carpentry-boot-camp">a guide to running a Software Carpentry boot camp</a> that includes a lot more detail than our own. It's a great resource&mdash;if you have suggestions for improvements or additions, please <a href="mailto:{{contact_email}}">send 'em to us</a>.</p>
