---
{
  "title": "Badges (Mark 1)", 
  "journal": "True", 
  "author": "Greg Wilson", 
  "tags": "community, content, education, evaluation, versions/version-5-0", 
  "post_id": "4589"
}
---
<p>One of our key deliverables for the <a href="|filename|2012-01-11-sloan-foundation-grant-to-software-carpentry-and-mozilla.jinja">Sloan Foundation-funded work</a> is a <a href="|filename|2012-01-24-badging.jinja">badging program</a> built on top of Mozilla's <a href="http://openbadges.org/">Open Badges Initiative</a>. Riffing on our <a href="|filename|2012-02-13-our-new-look.jinja">new logo</a>, Carri Han has designed three badges for us:</p>
<table>
<tbody>
<tr>
<td><img src="|filename|/files/2012/02/learner.png" /></td>
<td>for people who have mastered our <a href="|filename|2012-01-23-revising-the-curriculum.jinja">core content</a></td>
</tr>
<tr>
<td><img src="|filename|/files/2012/02/organizer.png" /></td>
<td>for people who have organized and run workshops</td>
</tr>
<tr>
<td><img src="|filename|/files/2012/02/creator.png" /></td>
<td>for people who have created content</td>
</tr>
</tbody>
</table>
<p>Please let us know what you think.</p>
