---
{
  "title": "Spot the Workshops", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4861"
}
---
<p><img src="|filename|/files/2012/05/Screen-shot-2012-05-23-at-11.24.06-PM.png" /></p>
