---
{
  "title": "And While We're Stuck Here With 21 Seconds Worth of Music to Fill...", 
  "author": "Greg Wilson", 
  "tags": "noticed", 
  "post_id": "4692"
}
---
{% import 'content_macros.html' as macros %}

<p><em>Scholarship in the Age of the Internetatron:</em></p>

{{macros.youtube("Scholarship in the Age of the Internetatron", "8omwsw8ibzw", "00:02:42")}}

