---
{
  "title": "What We Talk About When We Talk About Software Carpentry", 
  "author": "Greg Wilson", 
  "tags": "content", 
  "post_id": "5055"
}
---
<p><img src="|filename|/files/2012/08/swc-wordle.png" /></p>
