---
{
  "title": "And One More: Johns Hopkins in June", 
  "author": "Greg Wilson", 
  "tags": "boot-camp, venues/johns-hopkins-university, versions/version-5-0", 
  "post_id": "4826"
}
---
<p>We're pleased to announce that we will be running a two-day boot camp at <a href="/bootcamps/2012-06-jhu.html">Johns Hopkins University</a> in Baltimore on June 18-19, 2012. We only have space for 20 participants, so please register early.</p>
