{% extends "base.html" %}

{% block title %}Blog{% endblock title %}

{% block navhighlight %}{{navhighlight('blog')}}{% endblock navhighlight %}

{% block content %}
<h2>Recent Posts
  <a href="http://software-carpentry.org/feed.xml">
    <img class="pull-right" src="../img/rss-icon-blue.png"/></a></h2>

{% for category,posts in article_contents|groupby('category') %}
{% if category == 'blog' %}
{% for post in posts[10:] %}
  <h3><a href="{{ SITEURL }}/{{post.url}}">{{post.title}}</a></h3>
  <div class="row-fluid">
    <p class="span11 offset1">
      {{post.summary}}
      <br/>
      &mdash; {{post.date}}{% if post.author %} by {{post.author}}{% endif %}.
    </p>
  </div>
{% endfor %}
{% endif %}
{% endfor %}

<h2>Archives</h2>

<ul>
	<li><a href="|filename|by-date.html">All posts by date</a></li>
</ul>
{% endblock content %}

{% block comments %}{% endblock comments %}

