<!-- pageclass: BlogIndexPage -->
{% extends "base.html" %}
{#
{% block file_metadata %}
  <meta name="title" content="Blog" />
  <meta name="subglob" content="*/*/*.html" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('blog')}}{% endblock navhighlight %}
#}
{% block content %}
<h2>Recent Posts
  <a href="http://software-carpentry.org/feed.xml">
    <img class="pull-right" src="../img/rss-icon-blue.png"/></a></h2>

{% for post in article_contents[-10:]|reverse %}
  <h3><a href="post.url}}">{{post.title}}</a></h3>
  <div class="row-fluid">
    <p class="span11 offset1">
      {{post.summary}}
      <br/>
      &mdash; {{post.date}}{% if post.author %} by {{post.author}}{% endif %}.
    </p>
  </div>
{% endfor %}

<h2>Archives</h2>

<ul>
	<li><a href="|filename|by-date.html">All posts by date</a></li>
</ul>
{% endblock content %}
{#
{% block comments %}{% endblock comments %}
#}
