---
{
  "enddate": "2012-10-26", 
  "latlng": "38.831513,-77.308746", 
  "venue": "George Mason University", 
  "eventbrite_key": "4647209930"
}
---
<p><strong>When:</strong> October 25-26, 2012</p>
<p><strong>Where:</strong> George Mason University</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
