---
{
  "enddate": "2012-10-21", 
  "latlng": "37.8695,-122.258949", 
  "venue": "University of California Berkeley", 
  "eventbrite_key": "3942004642"
}
---
{% import 'content_macros.html' as macros %}

<p><strong>Where:</strong> University of California Berkeley, Goldman School of Public Policy, Room 150</p>
<p><strong>When:</strong> October 20-21, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/2012-10-ucb/">bootcamp web page</a> for installation instructions and schedule information.</p>
{% include "bootcamp_contact.html" %}
{{macros.eventbrite(content.eventbrite_key, content.venue, content.date)}}
