---
{
  "enddate": "2012-10-26", 
  "latlng": "38.831513,-77.308746", 
  "venue": "George Mason University", 
  "eventbrite_key": "4647209930"
}
---
{% import 'content_macros.html' as macros %}

<p><strong>When:</strong> October 25-26, 2012</p>
<p><strong>Where:</strong> George Mason University</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
