---
{
  "enddate": "2012-11-16", 
  "latlng": "32.8953297,-117.2421882", 
  "venue": "Scripps Research Institute", 
  "eventbrite_key": "3869222950"
}
---
<p><strong>Where</strong>: Scripps Research Institute, La Jolla, California.</p>
<p><strong>When</strong>: November 15-16, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
