---
{
  "enddate": "2013-01-13", 
  "latlng": "43.4691285,-80.5398649", 
  "venue": "University of Waterloo", 
  "eventbrite_key": "4455642948"
}
---
<p><strong>Where:</strong> University of Waterloo, Engineering 6 building, room 4022 [<a href="https://uwaterloo.ca/map/">map</a>]</p>
<p><strong>When:</strong> January 12-13, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
<p><strong>Content:</strong> <strong></strong>The syllabus for this boot camp will include:</p>
<ul>
<li>using the shell to do more in less time</li>
<li>using version control to manage and share information</li>
<li>basic Python programming</li>
<li>how (and how much) to test programs</li>
<li>Scientific Python, manipulation of arrays, matrices, and plotting data</li>
</ul>
{% include "bootcamp_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
