---
{
  "enddate": "2013-02-01", 
  "latlng": "37.2283843,-80.4234167", 
  "venue": "Virginia Tech", 
  "eventbrite_key": "4444112460"
}
---
<p><strong>Where:</strong> Virginia Tech.</p>
<p><strong>When:</strong> January 31-February 1, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
{{eventbrite(content.eventbrite_key, content.venue, content.date)}}
