---
{
  "enddate": "2013-01-25", 
  "latlng": "43.6471184,-79.3942998", 
  "venue": "Centre for Addiction and Mental Health", 
  "eventbrite_key": "5086301264"
}
---
<p><strong>Where:</strong> Mozilla Offices, 366 Adelaide St W, Toronto.  Suite 500</p>
<p><strong>When:</strong> January 24-25, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
