---
{
  "enddate": "2013-04-19", 
  "latlng": "53.4783491,-2.2416052", 
  "venue": "University of Manchester"
}
---
<p><strong>Where:</strong> University of Manchester.</p>
<p><strong>When:</strong> April 18-19, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
