---
{
  "enddate": "2013-07-16", 
  "latlng": "51.3777431,-2.3263779", 
  "venue": "University of Bath"
}
---
<p><strong>Where:</strong> University of Bath.</p>
<p><strong>When:</strong> July 15-16, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "bootcamp_what.html" %}
{% include "bootcamp_who.html" %}
{% include "bootcamp_requirements.html" %}
{% include "bootcamp_content.html" %}
{% include "bootcamp_contact.html" %}
