<!-- pageclass: BootCampPage -->
{% extends "_base.html" %}

{% block metadata %}
  <meta name="bootcamp_slug" content="{{page.slug}}" />
{% endblock metadata %}

{% block pagetitle %}<title>{{page.venue}}: {{page.date}}</title>{% endblock pagetitle %}

{% block navhighlight %}{{navhighlight('bootcamps')}}{% endblock navhighlight %}

{% block title %}
  <div class="title">
    <ul class="pager">
      {{nav_left()}}
      {{nav_right()}}
    </ul>
    <h1>{{page.venue}}: {{page.date}}</h1>
  </div>
{% endblock title %}

{% block content %}
  <p>No content provided.</p>
{% endblock content %}

{% block comments %}{{disqus(page.venue + ': ' + page.date, page.filename)}}{% endblock comments %}
